<form method="post" action="{{ path('app_user_rating_delete', {'id': user_rating.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_rating.id) }}">
    <button class="btn">Delete</button>
</form>
