<form method="post" action="{{ path('app_user_rating_delete', {'id': user_rating.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette note ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_rating.id) }}">
	<button class="delete_button">Supprimer</button>
</form>
