{% extends 'base.html.twig' %}

{% block title %}Éditer la note
{% endblock %}

{% block body %}
	<h1>Éditer la note</h1>

	{{ include('user_rating/_form.html.twig', {'button_label': 'Éditer'}) }}

	{{ include('user_rating/_delete_form.html.twig') }}

	<a href="{{ path('app_user') }}">Retour à votre espace privé</a>
{% endblock %}
