{% extends 'base.html.twig' %}

{% block title %}Edit UserRating{% endblock %}

{% block body %}
    <h1>Edit UserRating</h1>

    {{ include('user_rating/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_rating_index') }}">back to list</a>

    {{ include('user_rating/_delete_form.html.twig') }}
{% endblock %}
