{% extends 'base.html.twig' %}

{% block title %}Noter le menu
	{{ menu.name }}
{% endblock %}

{% block body %}
	<h1>Noter le menu
		{{ menu.name }}</h1>

	{{ include('user_rating/_form.html.twig') }}

	<a href="{{ path('app_user') }}">Retour à votre espace privé</a>
{% endblock %}
