{% extends 'base.html.twig' %}

{% block title %}Noter le menu
	{{ menu.name }}
{% endblock %}

{% block body %}
	<div class="d-flex flex-column align-items-center mt-4">
		<h1>Noter le menu
			{{ menu.name }}</h1>
	</div>

	{{ include('user_rating/_form.html.twig') }}

	<a href="{{ path('app_user') }}">Retour à votre espace privé</a>
{% endblock %}
