.box {
  background-color: rgb(224, 247, 199);
}
.container-presentation {
  position: relative;
  background-color: rgb(171, 197, 142);
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: 2em;
  padding: 15px;
  text-align: justify;
  padding-bottom: 50px;
}
.top-cover {
  background-image: url(https://assets3.labelleassiette.com/media/profile/coverpic_large_1554799970916d58b071fd839c35db4a2d29c1ce70677.jpg);
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.global-box {
  box-sizing: border-box;
}
.flex-column {
  align-items: center;
}
.bd-placeholder-img {
  object-fit: cover;
}
h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
p,
span {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.col {
  align-items: center;
}