<form method="post" action="{{ path('app_cook_delete', {'id': cook.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce chef ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cook.id) }}">
	<button class="delete_button">Supprimer</button>
</form>
