{% extends 'base.html.twig' %}

{% block title %}Ajouter un cuisinier
{% endblock %}

{% block body %}
	<h1>Ajout de cuisinier</h1>

	{{ include('cook/_form.html.twig') }}

	<a href="{{ path('app_admin') }}">Retour</a>
{% endblock %}
