{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Éditer le tag :
		{{ tag.name }}</h1>
	{{ include('tag/_form.html.twig', {'button_label': 'Éditer'}) }}

	<a href="{{ path('app_admin') }}">Retour</a>

	{# 
		Included in user/admin.html.twig
		{{ include('tag/_delete_form.html.twig') }} 
	#}
{% endblock %}
