<nav class="navbar navbar-expand-lg bg-light position-sticky">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			StrasCook
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNavAltMarkup">
			<div class="container-lg navbar-nav d-lg-flex justify-content-evenly">
				<a class="nav-link d-flex justify-content-end" href="/" aria-current="page">HOME</a>
				<a class="nav-link d-flex justify-content-end" href="/menu">MENUS</a>
				<a class="nav-link d-flex justify-content-end" href="/about">À PROPOS</a>

				{% if is_granted('ROLE_ADMIN') %}
					<a class="nav-link d-flex justify-content-end" href="/admin">
						ESPACE ADMINISTRATEUR
					</a>
					<a class="mt-1" href="/logout">logout</a>
				{% elseif app.user.username is defined %}
					<a class="nav-link d-flex justify-content-end" href="/user">
						ESPACE PARTICULIER
					</a>
					<a class="nav-link d-flex justify-content-end" href="/user">
						BONJOUR
						{{app.user.username}}
					</a>
					<a class="mt-1" href="/logout">logout</a>
				{% else %}
					<a class="nav-link d-flex justify-content-end" href="/login">SIGNUP/LOGIN</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>

{% block container_greet %}{% endblock %}
