{% extends 'base.html.twig' %}

{% block title %}Nouveau Menu
{% endblock %}

{% block body %}
	<div class="d-flex flex-column align-items-center mt-4">
		<h1>Ajouter un menu</h1>

		{{ include('menu/_form.html.twig') }}

		<a href="{{ path('app_admin_index') }}">Retour</a>
	</div>
{% endblock %}
